spring:
    application:
        name: ontopop
    cloud:
        vault:
            enabled: true
            host: localhost
            port: 8200
            scheme: http
            authentication: TOKEN
            token: ${VAULT_TOKEN}
            kv:
                enabled: true
                backend: secret
                default-context: ontopop/development
azure:
    keyvault:
        client-id: 
        client-key: 
        enabled: false
        tenant-id: 
        uri: 
