hosts: [$name$.gremlin.cosmosdb.azure.com]
port: 443
username: /dbs/$database$/colls/$collection$
password: $masterKey$
connectionPool: {
    enableSsl: true
}
serializer: { 
    className: org.apache.tinkerpop.gremlin.driver.ser.GraphSONMessageSerializerV2d0, 
    config: { 
        serializeResultToString: true 
    }
}
