<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
    <!-- Persist logs relative to the application -->
    <property name="LOGS" value="/var/log" />
 
    <!-- Console Appender -->
    <appender name="Console"
        class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd} %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
 
    <!-- Log File Appender -->
    <appender name="RollingFile"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/ontopop-aws-beanstalk-app-api-ontology-management/ontopop-aws-beanstalk-app-api-ontology-management.log</file>
        <encoder
            class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
        </encoder>
 
        <rollingPolicy
            class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            
            <!-- Rollover - Either daily and/or when log file exceeds 10MB -->
            <fileNamePattern>${LOGS}/ontopop-aws-beanstalk-app-api-ontology-management/archived/ontopop-aws-beanstalk-app-api-ontology-management-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            
        </rollingPolicy>
    </appender>
     
     <!-- Log Asynchronously -->
     <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="RollingFile" />
     </appender>
     
    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </root>
    
    <!-- Spring Request Logger -->
    <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="INFO">
        <appender-ref ref="RollingFile" />
    </logger>
    
    <!-- OntoPop Security Logger -->
    <logger name="ai.hyperlearning.ontopop.security" level="DEBUG" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>
 
    <!-- OntoPop Logger -->
    <logger name="ai.hyperlearning.ontopop" level="DEBUG" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>
 
</configuration>