spring:
    application:
        name: ontopop
    cloud:
        vault:
            host: localhost
            port: 8200
            scheme: http
            authentication: TOKEN
            token: ""
            kv:
                enabled: true
                backend: secret
                default-context: ontopop/development
